.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%;
    height: 100%;
}
.slide {
    min-width: 100%;
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slider-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.slider-button {
    background: rgba(85, 75, 224, 0.5);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background 0.3s ease;
}
.slider-button:hover {
    background: rgba(118, 109, 242, 0.5);
}
img {
    height: auto;
    max-height: 100px;
    transition: height 0.3s ease;
}

@media (max-width: 1024px) {
    .slider-container {
        display: none; /* Hide left slider on screens smaller than laptop (tablet, mobile) */
    }
    .flex-col.md\\:flex-row {
        flex-direction: column !important; /* Stack content vertically on mobile */
    }
    .w-full.md\\:w-1\\/ {
        width: 100% !important; /* Ensure both sides are full width on mobile */
    }
    .p-8 {
        padding: 4rem 2rem; /* Adjust padding for mobile */
    }
}